<!DOCTYPE html>
<html>
<head>
    <title>Your CarePilot One-Time-Password</title>
</head>
<body>
    <div style="font-family: sans-serif; text-align: center; color: #333;">
        <h2>Hi, user:</h2>
        <p>
            Thanks for registering CarePilot.
        </p>
        <p>
            Pelease complete the registration by below one-time-password:
        </p>
        <h1 style="color: #007bff; font-size: 24px; letter-spacing: 5px;">
            {{ otp }}
        </h1>
        <p>
            This password will be expired within 30 minutes.
        </p>
        <p>
            Ignore the email if you do not register our service.
        </p>
        <br>
        <p>Best,<br>CarePilot Team</p>
    </div>
</body>
</html>